<% content_for :title do %>
  MCraft｜スタッフを募集する
<% end %>
<div class="container">

  <% if user_signed_in? %>

    <h1 class="text-center margin-top-bottom-form">スタッフを募集する</h1>

    <%= form_for @article do |f| %>
      <% if @article.image? %>
        <%= image_tag @article.image.url %>
      <% else %>
        <%= image_tag "need/default.png", class: "img-fluid"%>
      <% end %>
      <%= f.file_field :image %>
      <p>※選択しても表示されている画像は変わりませんが投稿すると、表示されます。</p>

      <div class="form-group padding-top-15">
        <%= f.label :"サーバー名を記入してください。「〇〇サーバー運営募集！！」等の文章は、ご控えください)", class: "form-label margin-top-30px", style: "font-size: 18px" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group padding-top-15">
        <%= f.label :"募集内容", class: "margin-top-30px", style: "font-size: 18px" %>
        <%= f.text_area :body, rows: 10, id: "editor", class: "form-control", style: "margin-top: 35px;"%>
      </div>
      <%= f.submit "募集を開始する", class: "btn btn-success", style: "margin-top: 35px; margin-bottom: 35px;" %>

    <% end %>
  <% else %>
    <p class="text-center">スタッフを募集するには、ログインしてください</p>
  <% end %>
  </div>
</div>
