<% content_for :title do %>
  MCraft｜<%= @article.title %>
<% end %>
<head>
  <style>
      .header {
          background: #a29bfe;
          text-align: center;
      }
      .card {
          min-width: 220px;
          max-width: 270px;
          margin-bottom: 10px !important;
          margin: auto;
      }
      .sidebar {
          min-height: 500px;
      }
  </style>
</head>
<div class="container">
  <% if @article.image? %>
    <%= image_tag @article.image.url, class: "img-fluid" %>
  <% else %>
    <%= image_tag "default.png", class: "img-fluid" %>
  <% end %>
  <p class="font-size-post">投稿者: <%= @user.name %>　 いいね数: 0</p>
  <h1 class="font-size-title"><%= @article.title %></h1>
  <p class="font-size-body"<%=simple_format(@article.body)%></p>
  <% if user_signed_in? && @article.user_id == current_user.id %>
    <%= link_to "編集する", edit_article_path(@article), class: "btn btn-primary", style: "margin-bottom: 100px; margin-top: 30px" %>
    <%= link_to "削除する", article_path(@article), method: :delete, data: {confirm: "削除してもよろしいですか？"}, class: "btn btn-danger", style: "margin-bottom: 100px; margin-top: 30px" %>
  <% end %>

</div>